.container {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color:rgb(230, 211, 211) ;
    height: 20%;
    
}
.top {
    background-color: rgb(236, 225, 225);
    height: 80%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    align-items: center;

}
.logoF {
    height: 1.5em;
    width: auto;
    margin-left: 1em;
    margin-right: 2em;
    fill: red;

}
.bottom p {
    font-size:x-small;
}