.content {
    display: flex;
    flex-wrap: wrap;
}
.text {
    display: flex;
    flex-direction: column;
}
.text p {
    line-height: 1;
}
.text h2 {
align-self: center;
}

@media (max-width: 900px), (hover: none) and (pointer: coarse) {
    .text p {
        line-height: 1.2;
        margin: 0.5em 0;
    }

    .content {
        min-height: 0;
    }
}
